<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>北京租房</title>
    <meta name="keywords" content="北京租房,北京租房网,北京租房信息,北京租房价格,北京租房信息网,北京租房网站"/>
    <meta name="description" content="高品质北京租房品牌“自如”，旗下“自如友家”“自如寓”两大产品，数万间公寓。"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta content="width=1200, initial-scale=1, maximum-scale=1, user-scalable=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <script  type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script  type="text/javascript" src="/static/js/z-common.js"></script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['uid', '']);
            _vds.push(['setAccountId', '8da2730aaedd7628']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/zoneStyle.css" />

</head>
<body>
<div class="m-header">
    <div class="m-header_content">
        <a href="/static/images/logins/logo.png"></a>
    </div>
</div>

<div class="m-content">
    <div class="m-content_mid">
        <div class="modal-content logins" id="logins" style="display: block">
            <div class="separator m_icon"></div>

            <div class="control-group">
                <span class="m_icon user"></span>
                <input type="text" name="user_name" id="user_name" placeholder="请输入用户名或手机号或邮箱" class="inp_txt" tabindex="1">
                <p for="user_name" class="invalid" style="display: none;"></p>
            </div>
            <div class="control-group">
                <span class="m_icon pas"></span>
                <input type="password" name="user_pas" id="user_pas" placeholder="请输入6-16位密码" class="inp_txt" tabindex="2">
                <p for="user_pas" class="invalid" style="display: none;"></p>
            </div>

            <div class="control-group " id="captcha_tr" style="display:none;">
                <input type="hidden" id="is_captcha" value="0">


                <div class="clearfix">
                    <input type="text" name="verification" id="verification" placeholder="请输入验证码" class="inp_txt inp_yzm" tabindex="3">
                    <img src="" width="114" height="45" class="cur_pointer captcha_img" id="J-m-img">
                    <span class="m_icon refurbish"></span>
                </div>

                <p for="verification" class="invalid" style="display: none;"></p>
            </div>

            <div class="control-group clearfix">
                <p class="fl checkbox" id="within">
                    <label for="within_a_week">
                        <span class="m_icon" id="J-m-isSeven"></span>
                        <input type="checkbox" id="within_a_week">一周内免登录
                    </label>
                </p>
                <a href="{:url('lose/password')}" class="fr org">忘记密码？</a>
            </div>
            <div class="control-group clearfix">
                <input type="button" value="登 录" class="org_btn" id="login_button">

            </div>

            <div class="control-group clearfix">

            </div>

            <div class="control-group clearfix tc bottom">
                没有账号？现在就 <a href="{:url('index/Sign/up')}" class="org" id="toSignup">注册</a>
            </div><!--/control-group-->


        </div>
    </div>
</div>

<div id="footer">
    <div class="area">
        <div class="clearfix">
            <div class="glbLeft">
                <dl class="fList">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="">关于自如</a>
                        <a href="">联系自如</a>
                        <a href="">加入自如</a>
                    </dd>
                </dl>
                <dl class="fList">
                    <dt>自如业务</dt>
                    <dd>
                        <a href="">业务体系</a>
                        <a href="">自如产品</a>
                        <a href="">自如服务</a>
                    </dd>
                </dl>
                <dl class="fList">
                    <dt>关注自如</dt>
                    <dd>
                        <a >自如客微信</a>
                        <a >下载app</a>
                    </dd>
                </dl>
            </div><!--/glbLeft-->

            <div class="glbRight">

                <div class="img">
                    <img src="/static/css/zrk_ewm.png">
                    <p>关注自如客微信</p>
                </div>
                <div class="img">
                    <img src="/static/css/app_ewm.png">
                    <p>下载自如app</p>
                </div><!--/img-->
            </div><!--/glbRight-->
        </div><!--/clearfix-->

        <div class="linksFooter">
            <dl class="clearfix">

                <dt>友情链接：</dt>
                <dd>
                    <div class="box" id="linksFooterList">
                        <p>
                            <a target="_blank" href="http://bj.loupan.com">北京房产网</a>
                            <a target="_blank" href="http://www.landzestate.com">豪宅别墅</a>
                            <a target="_blank" href="http://bj.xkhouse.com">星空地产网</a>
                            <a target="_blank" href="http://www.wenchangfc.com">文昌房产网</a>
                            <a target="_blank" href="http://www.zhuna.cn/ditie">地铁线路图</a>
                            <a target="_blank" href="http://bj.offcn.com">北京人事考试网</a>
                            <a target="_blank" href="http://chongqing.anjuke.com/sale">重庆二手房</a>
                            <a target="_blank" href="http://bj.lanfw.com">北京蓝房网</a>
                            <a target="_blank" href="http://dali.focus.cn">大理房产</a>
                            <a target="_blank" href="http://www.0731jiaju.com">家居网</a>
                            <a target="_blank" href="http://tj.lianjia.com">天津二手房</a>
                            <a target="_blank" href="http://m.ziroom.com">北京租房</a>
                            <a target="_blank" href="http://bt.focus.cn">包头房产网</a>
                            <a target="_blank" href="http://house.365jia.cn">合肥房产网</a>
                            <a target="_blank" href="http://chaozhou.ganji.com">潮州赶集网</a>
                            <a target="_blank" href="http://datong.focus.cn">大同房地产</a>
                            <a target="_blank" href="http://beijing.qd8.com.cn">北京分类信息网</a>
                            <a target="_blank" href="http://xf.fccs.com">襄阳房产</a>
                            <a target="_blank" href="http://www.lianjia.com">房产网</a>
                            <a target="_blank" href="http://zufangzi.com">丁丁租房</a>
                            <a target="_blank" href="http://www.517best.com">旅游百事通</a>
                            <a target="_blank" href="http://www.shangceng.com.cn">别墅装修</a>
                            <a target="_blank" href="http://bj.house.163.com">网易北京房产</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://bj.loupan.com">北京房产网</a>
                            <a target="_blank" href="http://www.landzestate.com">豪宅别墅</a>
                            <a target="_blank" href="http://bj.xkhouse.com">星空地产网</a>
                            <a target="_blank" href="http://www.wenchangfc.com">文昌房产网</a>
                            <a target="_blank" href="http://www.zhuna.cn/ditie">地铁线路图</a>
                            <a target="_blank" href="http://bj.offcn.com">北京人事考试网</a>
                            <a target="_blank" href="http://chongqing.anjuke.com/sale">重庆二手房</a>
                            <a target="_blank" href="http://bj.lanfw.com">北京蓝房网</a>
                            <a target="_blank" href="http://dali.focus.cn">大理房产</a>
                            <a target="_blank" href="http://www.0731jiaju.com">家居网</a>
                            <a target="_blank" href="http://tj.lianjia.com">天津二手房</a>
                            <a target="_blank" href="http://m.ziroom.com">北京租房</a>
                            <a target="_blank" href="http://bt.focus.cn">包头房产网</a>
                            <a target="_blank" href="http://house.365jia.cn">合肥房产网</a>
                            <a target="_blank" href="http://chaozhou.ganji.com">潮州赶集网</a>
                            <a target="_blank" href="http://datong.focus.cn">大同房地产</a>
                            <a target="_blank" href="http://beijing.qd8.com.cn">北京分类信息网</a>
                            <a target="_blank" href="http://xf.fccs.com">襄阳房产</a>
                            <a target="_blank" href="http://www.lianjia.com">房产网</a>
                            <a target="_blank" href="http://zufangzi.com">丁丁租房</a>
                            <a target="_blank" href="http://www.517best.com">旅游百事通</a>
                            <a target="_blank" href="http://www.shangceng.com.cn">别墅装修</a>
                            <a target="_blank" href="http://bj.house.163.com">网易北京房产</a>
                        </p>
                    </div>
                </dd>
            </dl>
        </div>

    </div><!--/area-->
</div><!--/footer-->

<script type="text/javascript">


    var oLinksList = $('#linksFooterList');
    var iLinksHeight = oLinksList.outerHeight();
    var iNum = iLinksHeight/47;
    var iN = 0;


    setInterval(function(){
        iN++;
        iN = iN%iNum;
        var top = iN*47;
        if(top >= iLinksHeight/2+47){
            oLinksList.css({'margin-top':'0px'});
            iN=0;
        }else{
            oLinksList.animate({'margin-top':-iN*47+'px'},1000);
        }
    },3000);

</script>

</body>
</html>

