<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="wb:webmaster" content="6aedfa3b11557c1a">
    <meta property="qc:admins" content="445170677762127756375">
    <title>自如租房</title>
    <link rel="stylesheet" href="/static/css/face.css">

</head>
<body>

    <div class="sub_header">
        <div class="area clearfix">
            <h1 class="logo">
                <a href="/">
                    <img src="/static/img/face/logo.png">
                    <div id="logoSvg"></div>
                </a>
            </h1>
            <dl class="changeCityList">
                <dt><span id="curCityName">北京</span></dt>
                <dd id="cityList" class="ani">
                    <a data-id="110000" href="javascript:void(0)">北京<b><s class="ani"></s></b></a>
                    <a data-id="310000" href="javascript:void(0)">上海<b><s class="ani"></s></b></a>
                    <a data-id="440300" href="javascript:void(0)">深圳<b><s class="ani"></s></b></a>
                    <a data-id="330100" href="javascript:void(0)">杭州<b><s class="ani"></s></b></a>
                    <a data-id="320100" href="javascript:void(0)">南京<b><s class="ani"></s></b></a>
                    <a data-id="320100" href="javascript:void(0)">广州<b><s class="ani"></s></b></a>
                    <a data-id="320100" href="javascript:void(0)">成都<b><s class="ani"></s></b></a>
                    <a data-id="320100" href="javascript:void(0)">武汉<b><s class="ani"></s></b></a>
                    <a data-id="320100" href="javascript:void(0)">天津<b><s class="ani"></s></b></a>
                </dd>
            </dl>
            <div class="nav">
                <ul class="clearfix">
                    <li><a href="./face.html" title="首页" class="active s">首页</a></li>
                    <li><a href="http://www.ziroomapartment.com/" title="自如寓" class="s">自如寓</a></li>
                    <li><a href="http://www.z-inn.com" title="自如驿" class="s">自如驿</a></li>
                    <li><a href="./minsu.html" title="民宿" class="s">民宿</a></li>
                    <!--<li><a href="//www.ziroom.com/ziroomer/" title="生活" class="s">生活</a></li>-->
                    <li><a href="http://yezhu.ziroom.com/" title="业主" class="s">业主</a></li>
                </ul>
            </div>
            <ul class="fr"  id="topRightList">
                <li>
                    <a href="https://special.ziroom.com/2018/zr-xzpc/index.html">校园招聘</a>
                </li>
                <!--li class="app" >
                 <a rel="nofollow"  target="_blank" href="http://zhuanti.ziroom.com/zhuanti/app/index.html"><b></b>移动自如</a>
                 <div class="box">
                     <img src="//static8.ziroom.com/phoenix/pc/images/common/app-qrcode.png">
                     <p>下载自如app</p>
                     <p>立即签约好房源</p>
                 </div>
                </li-->
                <li>
                    <a rel="nofollow" class="" target="_blank" href="//www.ziroom.com/servicecentre/">在线服务</a>
                </li>
                <li class="app">
                    <a rel="nofollow" href="javascript:;">企悦会</a>
                    <div class="box">
                        <img src="//image.ziroom.com/g2m1/M00/66/11/ChAFB1uGG2KAObxvAAAT0yhj98c366.png">
                        <p>扫码认证企悦会</p>
                    </div>
                </li>
                <li id="ziroom_login"><a href="http://passport.ziroom.com/login.html?return_url=//www.ziroom.com" rel="nofollow">登录</a></li>

                <li id="ziroom_reg"><a href="http://passport.ziroom.com/register.html" rel="nofollow">注册</a></li>
            </ul>

        </div>
    </div>
    <div class="partA">
        <div class="slideBox foucsSlide">
            <div class="bd">
                <ul id="foucsSlideList">
                    <li>
                        <a href="https://special.ziroom.com/2018/fbh/index.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img src="/static/img/face/l1.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="https://special.ziroom.com/2018/zrk_shx_m/index.html?v=1001" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l2.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="http://www.ziroomapartment.com/ZRAST/project/getDetail/meetazry.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l3.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="https://hd.ziroom.com/2018/haiyanpc/index.html?citycode=110000" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l4.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="http://zhuanti.ziroom.com/zhuanti/2018/dist/huilei_pc/index.html?cityCode=110000" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l5.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="http://zhuanti.ziroom.com/zhuanti/2017/zrk/zhuanzu/pc/index.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l6.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="https://hd.ziroom.com/2018/haozhai/pc/index.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l7.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="https://special.ziroom.com/2018/yp_zs/pc/index.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l8.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="https://hd.ziroom.com/2018new/dist/zhipin_pc/index.html?cityCode=110000" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l9.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                    <li>
                        <a href="http://zhuanti.ziroom.com/zhuanti/2018/zrk/fenqi/index.html" target="_blank" title="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】"><img  src="/static/img/face/l10.jpg" alt="北京租房,北京白领公寓合租|出租,100%实景拍摄【自如网】" width="1920" height="600" /></a>
                    </li>
                </ul>
            </div>
            <div class="btn">
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <div class="indexSearch area clearfix">
                <div class="search">
                    <div class="s menu list" id="searchList">
                        <p id="searchTxt" data-val="2">合租<b></b></p>
                        <div class="c menu_c" id="searchType">
                            <span data-val="2">合租 </span>
                            <span data-val="1">整租 </span>
                        </div>
                    </div>
                    <input type="text" class="txt_inp" placeholder="输入区域、地铁、小区名" id="i_q_keyword_1">
                    <button  class="search_btn" id="searchListBtn">搜索</button>
                    <a href="/map/" id="goMap"></a>
                    <div class="t_ajaxbox"><ul id="suggestion"></ul></div>
                </div>


                <div class="foucsTxt">
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E6%9C%9B%E4%BA%AC" target="_blank" title="望京">望京</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E5%8F%8C%E4%BA%95" target="_blank" title="双井">双井</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E5%AF%8C%E9%94%A6%E5%98%89%E5%9B%AD" target="_blank" title="富锦嘉园">富锦嘉园</a>
                    <a href="https://special.ziroom.com/2018/zrk_jyjb/index.html" target="_blank" title="马家堡">马家堡</a>
                    <a href="//www.ziroom.com/z/nl/z3-s4%E5%8F%B7%E7%BA%BF-t%E6%B8%85%E6%BA%90%E8%B7%AF.html" target="_blank" title="清源路">清源路</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E6%9E%A3%E5%9B%AD" target="_blank" title="枣园">枣园</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E5%B2%B3%E5%90%84%E5%BA%84" target="_blank" title="岳各庄">岳各庄</a>
                    <a href="//www.ziroom.com/z/nl/z3-s%E6%88%BF%E5%B1%B1%E7%BA%BF-t%E9%95%BF%E9%98%B3.html" target="_blank" title="长阳">长阳</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E5%85%AD%E9%87%8C%E6%A1%A5" target="_blank" title="六里桥">六里桥</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E8%A7%92%E9%97%A8%E8%A5%BF" target="_blank" title="角门西">角门西</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E9%83%AD%E5%85%AC%E5%BA%84" target="_blank" title="郭公庄">郭公庄</a>
                    <a href="//www.ziroom.com/z/nl/z3.html?qwd=%E5%A4%A9%E5%AE%AB%E9%99%A2" target="_blank" title="天宫院">天宫院</a>

                </div>
            </div>
        </div>

    </div>

</body>


</html>