<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>北京租房</title>
    <meta name="keywords" content="北京租房,北京租房网,北京租房信息,北京租房价格,北京租房信息网,北京租房网站"/>
    <meta name="description" content="高品质北京租房品牌“自如”，旗下“自如友家”“自如寓”两大产品，数万间公寓。"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta content="width=1200, initial-scale=1, maximum-scale=1, user-scalable=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <script  type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script  type="text/javascript" src="/static/js/z-common.js"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/zoneStyle.css" />
    <style>
        .mainRight.s-m-box{
            float: none;
            margin: 50px auto;
        }
    </style>
</head>

<body>

<!-- 弹出层 -->

<div id="M_layer_box" style="display:none"></div>
<div class="mainRight s-m-box">
    <div class="title">忘记密码</div>

    <div class="w740">

        <div class="step step4 clearfix">
            <ul class="clearfix">
                <li  class="active"><span>1</span><p>验证身份</p><b></b></li>
                <li><span>2</span><p>重置密码</p><b></b></li>
                <li><span>3</span><p>完成</p><b></b></li>
            </ul>
        </div><!--/step-->

        <div class="tableForm">
            <table>
                <tr>
                    <td>验证方式</td>
                    <td>
                        <div class="form-select">
                            <div class="form-sltitle">
                                <span>已验证手机</span>
                                <i class="layui-edge icon"></i>
                            </div>
                            <ul class="form-option" id="MS_yanzheng">
                                <li value="已验证手机" class="J-m-selectItem"><a href="javascript:;">已验证手机</a></li>
                                <li value="已验证邮箱" class="J-m-selectItem"><a href="javascript:;">已验证邮箱</a></li>
                            </ul>
                            <input type="hidden">
                        </div><!--/form-select-->
                    </td>
                </tr>

                <tr>
                    <td width="90">手机号</td>
                    <td colspan="3" width="600">
                        <div class="m-pos_parent">
                            <input type="text" class="ui_inp" placeholder="请输入手机号" id="J-m-user" name="phone">
                            <p class="m-pos_son" id="j-m-ckphone1">请输入正确格式的手机号码</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>图片验证码</td>
                    <td>
                        <input type="text" class="ui_inp" placeholder="输入图片中验证码" id="J-m-imgIpt">
                    </td>
                    <td width="140">
                        <img src="" height="40" width="130" id="J-m-img">
                    </td>
                    <td>看不清？ <a href="javascript:;" class="org" id="J-m-picChange">换一张</a></td>
                </tr>

                <tr>
                    <td>手机验证码</td>
                    <td width="185">
                        <input type="text" class="ui_inp" placeholder="输入验证码" id="J-m-dxYzm">
                    </td>
                    <td colspan="2">
                        <input type="button" value="获取验证码" class="ui_btn ui_org_btn" id="tel_btn">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="button" value="下一步" class="ui_btn disabled ui_org_btn" id="J-m-submit">
                    </td>
                </tr>
            </table>
        </div>


    </div><!--/w640-->


</div><!--/w640-->
</div><!--/mainRight-->

<script>
    //mqz 2016.5.14 选择联动

    (function(){

        var aSelect=$('.J-m-selectItem');

        var picYzmInp=$('#J-m-imgIpt');
        var picYzm=$('#J-m-img');
        var picBtn=$('#J-m-picChange');



        var username=$('#J-m-user');

        var userYzm=$('#J-m-dxYzm');
        var phoneYzmBtn=$('#tel_btn');

        var oSub=$('#J-m-submit');

        var tishi=$('#j-m-ckphone1');
        var reg = /^1[0-9]{10}$/;
        var userFlag=false;

        var clickTotal = 0;
        var countdownTimer = null;
        var downTime = 600;

        aSelect.eq(0).click(function(){
            username.attr('name','phone').attr('placeholder','请输入手机号').val('').parent().parent().prev().html('手机号');
            username
            userYzm.val('').parent().prev().html('手机验证码');
            tishi.html('请输入正确格式的手机号码');
            reg = /^1[0-9]{10}$/;
        });

        aSelect.eq(1).click(function(){
            username.attr('name','email').attr('placeholder','请输入邮箱').val('').parent().parent().prev().html('邮箱');
            userYzm.val('').parent().prev().html('邮箱验证码');
            tishi.html('请输入正确格式的邮箱');
            reg=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        });



        picBtn.click(function(){
            addImgRequest('#J-m-img');
        });
        addImgRequest('#J-m-img');

        phoneYzmBtn[0].onclick=getPhoneYzm;


        //校验手机号或邮箱格式
        username.blur(function(){
            if(reg.test(this.value)){
                userFlag=true;
                $(this).next().css({
                    display:'none'
                });
            }
            else{
                userFlag=false;
                $(this).next().css({
                    display:'block'
                });
            }
        });

        userYzm.keyup(function(){
            if( ($(this).val()!='') && userFlag){
                if(countdownTimer){
                    return;
                }
                oSub.removeClass('disabled');
                oSub[0].onclick=next;
            }
            else{
                oSub.addClass('disabled');
                oSub[0].onclick=null;
            }
        });




        function getPhoneYzm(){
            if( ! userFlag){
                return;
            }


            stopClick();
            if(username.attr('name')=='phone'){
                $.ajax({
                    url:'https://passport.ziroom.com/verify/code/v2',
                    dataType:'jsonp',
                    data:{"phone":username.val(),"type":"3","imgId":picYzm.attr('data-imgId'),"imgVValue":picYzmInp.val()},
                    jsonp:"callback",
                    success:function(data){
                        // console.log(data);
                        //重置图片验证码
                        if(data.code!='20000'){
                            mLayerMsg(data.message);
                            addImgRequest('#J-m-img');
                        }
                    },
                    error:function(str){
                        //请求失败
                        // console.log(str);
                    }
                })
            }else{
                $.ajax({
                    url:'https://passport.ziroom.com/verify/code/v2',
                    dataType:'jsonp',
                    data:{"email":username.val(),"type":"3","imgId":picYzm.attr('data-imgId'),"imgVValue":picYzmInp.val()},
                    jsonp:"callback",
                    success:function(data){
                        // console.log(data);
                        //重置图片验证码
                        if(data.code!='20000'){
                            mLayerMsg(data.message);
                            addImgRequest('#J-m-img');
                        }

                    },
                    error:function(str){
                        //请求失败
                        // console.log(str);
                    }
                })
            }

        }

        function next(){
            if(!_isNext()){
                return;
            }
            var json=null;
            if(username.attr('name')=='phone'){
                json={'phone':username.val(),'type':'3','vcode':userYzm.val()};

                $.ajax({
                    url:'/api/index.php?r=user/verify-code',
                    type:'POST',
                    dataType:'json',
                    data:json,
                    success:function(data){
                        if(data.code=='20000'){

                            window.location='/index.php?r=user/forget-password-set&vid='+data.resp.vid+'&phone='+username.val();
                            _init();
                        } else {
                            mLayerMsg('验证失败');
                        }
                        // console.log(data);

                    }

                });
            }
            else{
                json={'email':username.val(),'type':'3','vcode':userYzm.val()};

                $.ajax({
                    url:'/api/index.php?r=user/verify-code',
                    type:'POST',
                    dataType:'json',
                    data:json,
                    success:function(data){
                        if(data.code=='20000'){
                            window.location='/index.php?r=user/forget-password-set&vid='+data.resp.vid+'&email='+username.val();
                        } else {
                            mLayerMsg('验证失败');
                        }
                        // console.log(data);

                    }

                });
            }
        }

        //倒计时60S函数
        function stopClick(){

            var total=60;

            phoneYzmBtn.addClass('disabled');
            phoneYzmBtn[0].onclick=null;
            phoneYzmBtn.val('60');

            var t=setInterval(function(){
                total--;
                phoneYzmBtn.val(total);

                if(total==0){
                    clearInterval(t);
                    phoneYzmBtn.removeClass('disabled');
                    phoneYzmBtn[0].onclick=getPhoneYzm;
                    phoneYzmBtn.val('重新发送');
                }
            },1000);
        }

        //获取图片验证码
        function addImgRequest(imgId){

            var oImg=$(imgId);

            var u=uuid();
            oImg.attr('data-imgId',u);
            oImg.attr('src','https://passport.ziroom.com/img/verify/code/v1?imgId='+u);
        }

        //uuid
        function uuid(){
            var str='0123456789abcdef';
            var res='';
            for(var i=0;i<32;i++){
                res+=str.charAt(Math.floor(Math.random()*16));
            }

            return res;
        }

        function _isNext(curValue,oldValue) {
            setCountdown();
            clickTotal++;
            // 同一个用户一分钟 5次，超过5次10分钟后重试
            if(clickTotal > 5){
                disableNext()
                mLayerMsg('10分钟后重试');
                return false;
            }else{
                return true;
            }
        }
        function _init() {
            clickTotal = 0;
            clearCountdown();
            undisableNext();
        }

        function setCountdown() {
            if(countdownTimer){
                return;
            }
            countdownTimer = setInterval(function() {
                if(downTime === 0){
                    _init();
                    return;
                }
                downTime--;

            },1000)
        }

        function clearCountdown() {
            clearInterval(countdownTimer);
            downTime = 600;
            countdownTimer = null;
        }

        function disableNext() {
            oSub.addClass('disabled');
            oSub[0].onclick=null;
        }

        function undisableNext(){
            oSub.removeClass('disabled');
            oSub[0].onclick=next;
        }




    })();
</script>
</body>
</html>
